.page-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #333; /* Dark gray */
  font-family: "Helvetica Neue", Arial, sans-serif; /* Update with desired font */
}

.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc; /* Add border */
}

.table th,
.table td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.table th {
  font-weight: bold;
  background-color: green; /* Dark gray */
  color: #fff; /* White */
}

.table tbody tr:last-child td {
  border-bottom: none;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

body {
  padding: 30px;
}

.table tbody tr:last-child td {
  border-bottom: 1px solid #ccc;
}

.delete-button {
  padding: 6px 12px;
  background-color: #ff5050; /* Red */
  color: #fff; /* White */
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: red; /* Darker red on hover */
}