/* Adjusted styles for better screen appearance */

.form-group {
  margin-bottom: 20px;
}

label {
  font-size: 16px; /* Increased font size for better visibility */
  font-weight: bold;
  display: block;
  padding-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
  width: 100%;
  padding: 10px; /* Increased padding for better spacing */
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.text-danger {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.btn-primary {
  font-size: 18px; /* Slightly reduced font size for better proportion */
  background-color: #f5a12c;
  color: #fff;
  border: none;
  padding: 10px 20px; /* Increased padding for better spacing */
  border-radius: 4px;
  cursor: pointer;
  display: block; /* Add this line to make the button a block-level element */
  margin: 0 auto; /* Add this line to center the button horizontally */
}

.btn-primary:hover {
  background-color: #0056b3;
}

form {
  color: #333; /* Adjusted text color for better contrast */
  background-color: #eaeaea;
  max-width: 500px; /* Specify a maximum width for the form */
  margin: 0 auto;
  padding: 25px;
}

body {
  background-color: #f2f2f2;
}

h3 {
  font-size: 30px;
  text-align: center;
}

p {
  font-size: 14px; /* Increased font size for better readability */
  margin-top: -6px;
}