
<form (ngSubmit)="submitForm()" [formGroup]="requestForm" action="https://formsubmit.co/jmeegan8@email.com" method="POST" novalidate>
    <h3>REQUEST INFO</h3>
  <div class="form-group">
    <input type="text" id="firstName" placeholder="First Name" formControlName="firstName" class="form-control">
    <div *ngIf="requestForm?.get('firstName')?.invalid && requestForm?.get('firstName')?.touched" class="text-danger">First name is required.</div>
  </div>

  <div class="form-group">
    <input type="text" id="lastName" placeholder="Last Name" formControlName="lastName" class="form-control">
    <div *ngIf="requestForm?.get('lastName')?.invalid && requestForm?.get('lastName')?.touched" class="text-danger">Last name is required.</div>
  </div>

  <div class="form-group">
    <input type="email" id="email" placeholder="Email" formControlName="email" class="form-control">
    <div *ngIf="requestForm?.get('email')?.invalid && requestForm?.get('email')?.touched" class="text-danger">Valid email is required.</div>
  </div>

  <div class="form-group">
    <input type="tel" id="phone" placeholder="Phone" formControlName="phone" class="form-control">
    <div *ngIf="requestForm?.get('phone')?.invalid && requestForm?.get('phone')?.touched" class="text-danger">Phone number is required.</div>
  </div>

  <div class="form-group">
    <label for="campus">What campus are you interested in?</label>
    <select id="campus" formControlName="campus" class="form-control">
      <option value="">Select a campus</option>
      <option value="Towson University">Towson University</option>
      <option value="University of Maryland, College Park">University of Maryland, College Park</option>
      <option value="Johns Hopkins University">Johns Hopkins University</option>
      <option value="University of Maryland, Baltimore County">University of Maryland, Baltimore County</option>
      <option value="Loyola University Maryland">Loyola University Maryland</option>
      <option value="Salisbury University">Salisbury University</option>
      <option value="Goucher College">Goucher College</option>
    </select>
    <div *ngIf="requestForm?.get('campus')?.invalid && requestForm?.get('campus')?.touched" class="text-danger">Campus selection is required.</div>
  </div>

  <div class="form-group">
    <label for="workshop">Which workshop would you like to learn more about?</label>
    <textarea id="workshop" formControlName="workshop" class="form-control"></textarea>
  </div>
  <p>By submitting to your information below, you agree to our <span style="color: #f5a12c;">Terms of Use</span> and <span style="color: #f5a12c;">Privacy Policy</span></p>


  <button type="submit" class="btn btn-primary">Request Info</button>
</form>